/* Account for side bar being open on large screens */
header.with-sidebar, main.with-sidebar, footer.with-sidebar {
  padding-left: 300px;
}

/* Account for side bar being collapsed on small screens */
@media only screen and (max-width : 992px) {
  header.with-sidebar, main.with-sidebar, footer.with-sidebar {
    padding-left: 60px;
  }
}

/* Remove whitespace between the top of the page and the title of each page (also affects sidebar logo) */
header h1 {
  margin-top: 0;
  padding-top: 0;
}